[submodule "3rdparty/Megatron-LM"]
	path = 3rdparty/Megatron-LM
	url = https://github.com/NVIDIA/Megatron-LM.git
	branch = v2.6
[submodule "3rdparty/cutlass"]
	path = 3rdparty/cutlass
	url = https://github.com/NVIDIA/cutlass.git
